<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Lightning Ltd. Car Selection</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Core Bootstrap CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/vue/dist/vue.js"></script>
</head>

<body>
    <div id="carlist" class="container">
        <div class="row">
            <h1><a href="/">Lightning Ltd. Car Selection</a></h1>
            <h3>1st, Select your car</h3>
            <form class="clearfix">
                <ul>
                    <!-- think of this as "for each user in users" -->
                    <li v-repeat="model : lightningCars[0].models" class="col-sm-4 item-{{$index}}">
                        <input type="radio" id="car-{{$index}}" value="{{model.name}}" v-model="carModel">
                        <label for="car-{{$index}}" v-on="click : onClick($index)">{{ model.name }}</label>
                        <div class="car_details" v-class="open : $index == openedCount">
                            <span class="options">Car Doors
                                <select v-model="carDoors">
                                    <option v-repeat="door : model.features[0].doors" value="{{ door }}">{{ door }}</option>
                                </select>
                              </span>
                        </div>
                    </li>
                </ul>
            </form>
            <br>
            <h3>2nd, Pick your favourite color</h3>
            <div class="options">Color
                <select v-model="carColors">
                    <option v-repeat="color : lightningCars[0].colorSelection" value="{{ color }}">{{ color }}</option>
                </select>
            </div>
            <br>
            <h3>Here's your selection</h3>
            <div class="selection">
                <p>Model - <b><i>{{$data.carModel | json 2}}</i></b></p>
                <p>Car doors - <b><i>{{$data.carDoors | json 2}}</i></b></p>
                <p>Car colors - <span style="color: {{$data.carColors | json 2}} "><b><i>{{$data.carColors | json 2}}</i></b></span></p>
            </div>
        </div>
    </div>
</body>
<script src="js/app.js"></script>

</html>
